{
  "file": "../latest-all.json",
  "neo4j": {
    "bolt": "bolt://localhost",
    "auth": {
      "user": "neo4j",
      "pass": "123"
    },
    "database": "wikidata" 
  },
  "do": {
    "0": false,
    "1": true,
    "2": true,
    "3": true
  },
  "verbose": false,
  "concurrency": 1,
  "skip": 0,
  "lines": 107069297,
  "bucket": 10000
}
